@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

.header{
    height: 100px;
    padding: 0 20px;
    background-color: #e37e7ecb;
  }
  .logo{
    padding-top: 1%;
    float: left;
    line-height: 110px;
    width: 5%;
  }
  
  .menu a{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 40px;
    transition: 0.4s;
    line-height: 110px;
    font-weight: bold;
    letter-spacing: 4px;
  }
  .menu img{
      padding-left: 20%;
  }
  .show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size: 30px;
    cursor: pointer;
    display: none;
  }
  .show-menu-btn{
    float: right;
  }
  .show-menu-btn i{
    line-height: 100px;
  }
  .menu a:hover,
  .show-menu-btn:hover,
  .hide-menu-btn:hover{
    color: #000;
  }
  
  #chk{
    position: absolute;
    visibility: hidden;
    z-index: -1111;
  }
body{
    background-image: url("../imgs/Group1/Hero_area.png");
    background-size: cover;
    position: absolute;
    background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    background-color: #e37e7e;
}
/*.logo{
    width: 110%;
    padding-left: 15%;
}*/
.margen{
    margin-left: 14%;
}
nav ul li a:hover,.show-menu-btn:hover,.hide-menu-btn:hover{
    color: rgb(110, 237, 253);
    text-decoration: none;
}
.show-menu-btn, .hide-menu-btn{
    transition: 0.5s;
    font-size: 30px;
    cursor: pointer;
    display: none;
}
.show-menu-btn{
    float: right;
}
.show-menu-btn i{
    line-height: 30px;
}
#chk{
   position: absolute;
   visibility: hidden; 
   z-index: -1111;
}
.hero .container{
    margin-left: 2%;
}
.hero{
    
    margin-top: 17%;
}
.hero h1{
    text-transform: uppercase;
    font-size: 500%;
    font-weight: 800;
    color: #fff;
}
.hero p{
    font-weight: 400;
    color: #fff;
    font-size: 20px;
}
.boton{
    padding: 3% 13%;
    text-decoration: none;
    color: #e37e7e;
    background-color: #fff;
    font-size: 150%;
    transition: background-color .6s;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 30px;
}
.boton:hover{
    color: #fff;
    background-color:#000;
    text-decoration: none;

}
.best-seller
{
    margin-top: 15%;
    
}
.best-seller h2
{
    font-size: 45px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
.best-seller h1{
    font-weight: 700;
    color: #fff;
    padding-right: 6%;
}
.titulo-1{
    font-weight: 700;
    color: #fff;
    padding-right: 6%;
    margin-top: 3%;
}
.info-plate{
    margin-top: 9%;
    font-size: 20px;
    font-weight: 400;
    width: 100% !important;
    color: #fff;
    padding-left: 2% !important;
}
.info-plate-1{
    margin-top: 12%;
    font-size: 20px;
    font-weight: 400;
    width: 100% !important;
    color: #fff;
    padding-left: 1% !important;
}
.best-seller p{
    margin-top: 9%;
    font-size: 20px;
    font-weight: 400;
    width: 70%;
    color: #fff;
    padding-left: 5%;
}
.best-seller .info{
    padding-left: 30% !important;
}
.sushi{
    padding-top: 250%;
}
.seccion-media
{
    background-image:url("../imgs/Group3/Group3_background.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1000px;
    padding-top: 10%;

}
.seccion-media h1, .seccion-delicious h1, footer h1{
    color: #e37e7e;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 50px;
}
.seccion-media p, .seccion-delicious p, footer p{
    color: #e37e7e;
    font-weight: 400;
    font-size: 20px;
}
.seccion-media .boton2, .seccion-delicious .boton2{
    padding: 3% 13%;
    text-decoration: none;
    color: #fff;
    background-color: #e37e7e;
    font-size: 150%;
    transition: background-color .6s;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 30px;
}
.boton2:hover{
    color: #e37e7e;
    background-color: #fff;
}
.seccion-baja
{
    padding: 5%;
}

.seccion-baja h1{
    font-size: 350%;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}
.seccion-baja p{
    font-weight: 400;
    color: #fff;
}
.seccion-baja .sushi2{
    padding-left:40%;
}
.seccion-baja .separacion{
    padding-top: 10%;
}
.seccion-delicious
{
    background-image:url("../imgs/Group5/Group5_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    padding-top: 10%;

}
.sushi3{
    padding-top: 450%;
}
.seccion-dueño{
    background-image:url("../imgs/Group6/Group6_background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    
}
.seccion-dueño img{
    padding-top: 25%;
}
.seccion-dueño h1{
    font-size: 350%;
    font-weight: 700;
    color: #fff;
    padding-top: 5%;
}
.seccion-dueño p{
    font-weight: 400;
    color: #fff;
    font-size: 20px;
    padding-top: 5%;
}
footer{
    background-image:url("../imgs/Group7/group7-8_Background.png");
    background-size: cover;
    background-repeat: no-repeat;
}
footer h1{
    padding-top: 35%;
}
footer .input-group{
    margin-top: 10%;
}

footer .input-group.input-group-lg input{
    z-index: 1;
    background-color: #e9e9e9;
    border-radius: 50px;
}
footer .input-group.input-group-lg .input-group-append span{
    z-index: 1111;
    margin-right: 40%;
    color: #fff;
    background-color: #e37e7e;
    font-weight: 700;
    text-transform: uppercase;
}
.sushi4{
    padding-top: 30%;
}
.sushi5{
    padding-top: 15%;
}
.informacion{
    padding-top: 30%;
}
.informacion h3,.informacion p,.informacion ul li{
    
    color:#fff;
    font-weight: normal;
}
.informacion p{
    padding-top: 5%;
    width: 80%;
}
.informacion a{
    color: #e37e7e;
}
.redes a{
    color: #000;
    background-color: #fff;
    border-radius: 50%;
    width: 7%;
    padding: 1% 1%;
    text-align: center;
    margin: 5% 2% 10% 0;
    font-size: 140%;
    transition: background-color .6s;
}
.redes a:hover{
    color: #fff;
    background-color:#e37e7e;
}
.informacion ul{
    list-style: none;
    padding-left: 0;
}
.informacion ul li{
    padding-top: 5%;

}

  @media (max-width: 1280px){
    
    .header{
        height: 100px;
        padding: 0 20px;
        background-color: #e37e7ecb;
      }
      .logo{
        padding-top: 2%;
        float: left;
        line-height: 110px;
        width: 6%;
      }
      
      .menu a{
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        padding: 0 30px;
        transition: 0.4s;
        line-height: 110px;
        font-weight: bold;
        letter-spacing: 4px;
      }
      .menu img{
          padding-left: 10%;
      }
      body{
        background-image: url("../imgs/Group1/Hero_area.png");
        background-size: cover;
        background-repeat: no-repeat;
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        background-color: #e37e7e;
    }
    .hero{
        
        margin-top: 10%;
    }
    .hero h1{
        text-transform: uppercase;
        font-size: 300%;
        width: 50%;
        font-weight: 800;
        color: #fff;
    }
    .hero p{
        font-weight: 400;
        color: #fff;
        width: 80%;
        font-size: 15px;
    }
    .boton{
        padding: 3% 10%;
        text-decoration: none;
        color: #e37e7e;
        background-color: #fff;
        font-size: 100%;
        transition: background-color .6s;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 30px;
    }
    .boton:hover{
        color: #fff;
        background-color:#000;
        text-decoration: none;
    
    }
    .best-seller
    {
        margin-top: 25%;
        
    }
    .best-seller .info{
        padding-left: 30% !important;
    }
    .best-seller h2
    {
        font-size: 45px;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        letter-spacing: 2px;
    }
    .best-seller h1{
        font-weight: 700;
        color: #fff;
        padding-right: 7%;
        margin-top: 1%;
    }
    .titulo-1{
        font-weight: 700;
        color: #fff;
        padding-right: 6%;
       margin-top: 1%;
    }
    .info-plate{
        margin-top: 9%;
        font-size: 20px;
        font-weight: 400;
        width: 100% !important;
        color: #fff;
        padding-left: 2% !important;
    }
    .info-plate-1{
        margin-top: 12%;
        font-size: 20px;
        font-weight: 400;
        width: 100% !important;
        color: #fff;
        padding-left: 1% !important;
    }
    
    .sushi{
        padding-top: 250%;
    }
    .seccion-media
    {
        background-image:url("../imgs/Group3/Group3_background.png");
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 7%;
        height: 700px;

    }
    .seccion-media h1, .seccion-delicious h1, footer h1{
        color: #e37e7e;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 40px;
    }
    .seccion-media p, .seccion-delicious p, footer p{
        color: #e37e7e;
        font-weight: 400;
        font-size: 17px;
    }
    .seccion-media .boton2, .seccion-delicious .boton2{
        padding: 3% 10%;
        text-decoration: none;
        color: #fff;
        background-color: #e37e7e;
        font-size: 100%;
        transition: background-color .6s;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 30px;
    }
    .boton2:hover{
        color: #e37e7e;
        background-color: #fff;
    }
    .seccion-baja
    {
        padding: 3%;
    }

    .seccion-baja h1{
        font-size: 300%;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
    }
    .seccion-baja p{
        font-weight: 400;
        color: #fff;
    }
    .seccion-baja .sushi2{
        padding-left:40%;
    }
    .seccion-baja .separacion{
        padding-top: 7%;
    }
    .seccion-delicious
    {
        background-image:url("../imgs/Group5/Group5_background.png");
        background-size: cover;
        background-repeat: no-repeat;
        height: 800px;


    }
    .sushi3{
        padding-top: 500%;
    }
    .seccion-dueño{
        background-image:url("../imgs/Group6/Group6_background.png");
        background-size: cover;
        background-repeat: no-repeat;
        
    }
    .seccion-dueño img{
        padding-top: 25%;
        padding-left: 10%;
    }
    .seccion-dueño h1{
        font-size: 350%;
        font-weight: 700;
        color: #fff;
        padding-top: 5%;
        padding-left: 10%;
    }
    .seccion-dueño p{
        font-weight: 400;
        color: #fff;
        font-size: 20px;
        padding-top: 5%;
        padding-left: 10%;
    }
    footer{
        background-image:url("../imgs/Group7/group7-8_Background.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
    footer h1{
        padding-top: 35%;
    }
    footer .input-group{
        margin-top: 10%;
    }
    
    footer .input-group.input-group-lg input{
        z-index: 1;
        background-color: #e9e9e9;
        border-radius: 50px;
    }
    footer .input-group.input-group-lg .input-group-append span{
        z-index: 1111;
        margin-right: 40%;
        color: #fff;
        background-color: #e37e7e;
        font-weight: 700;
        text-transform: uppercase;
    }
    .sushi4{
        padding-top: 30%;
    }
    .sushi5{
        padding-top: 15%;
    }
    .informacion{
        padding-top: 5%;
    }
    .informacion h3,.informacion p,.informacion ul li{
        
        color:#fff;
        font-weight: normal;
    }
    .informacion p{
        padding-top: 5%;
        width: 80%;
    }
    .informacion a{
        color: #e37e7e;
    }
    .redes a{
        color: #000;
        background-color: #fff;
        border-radius: 50%;
        width: 9%;
        padding: 1% 1%;
        text-align: center;
        margin: 2% 2% 10% 0;
        font-size: 140%;
        transition: background-color .6s;
    }
    .redes a:hover{
        color: #fff;
        background-color:#e37e7e;
    }
    .informacion ul{
        list-style: none;
        padding-left: 0;
    }
    .informacion ul li{
        padding-top: 5%;
    
    }
    }
    @media (max-width: 361px){
        .logo{
            padding-top: 5%;
            float: left;
            line-height: 90px;
            width: 20%;
          }
          .boton{
            padding: 3% 13%;
            text-decoration: none;
            color: #e37e7e;
            background-color: #fff;
            font-size: 170%;
            transition: background-color .6s;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 30px;
        }
        .show-menu-btn,.hide-menu-btn{
            display: block;
          }
          .show-menu-btn{
              float: none;
              padding-left: 90% ;
          }
          .menu{
            position: fixed;
            width: 100%;
            height: 110vh;
            background: #e26767;
            right: -100%;
            top: 0;
            text-align: center;
            padding: 20px 0;
            line-height: normal;
            transition: 0.7s;
            z-index: 2;
          }
          .menu a{
            display: block;
            padding: 1px;
            z-index: 2;
          }
          .hide-menu-btn{
            position: absolute;
            top: 40px;
            right: 20px;
          }
          #chk:checked ~ .menu{
            right: 0;
          }
          body{
            background-image: url("../imgs/Group1/Hero_area.png");
            background-size: 100%;
        }
        .best-seller
        {
            margin-top: 20%;
            
        }
        .best-seller .info{
            padding-left: 10% !important;
        }
        .best-seller p{
            width: 90%;
        }
        .best-seller h2
        {
            font-size: 45px;
            color: #fff;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 2px;
        }
        .best-seller h1{
            font-weight: 700;
            color: #fff;
            padding-right: 7%;
            margin-top: 1%;
        }
        .titulo-1{
            font-weight: 700;
            color: #fff;
            padding-right: 6%;
        margin-top: 1%;
        }
        .info-plate{
            margin-top: 9%;
            font-size: 20px;
            font-weight: 400;
            width: 100% !important;
            color: #fff;
            padding-left: 2% !important;
        }
        .info-plate-1{
            margin-top: 12%;
            font-size: 20px;
            font-weight: 400;
            width: 100% !important;
            color: #fff;
            padding-left: 1% !important;
        }
        
        .sushi{
            padding-top: 20%;
            padding-left: 30%;
        }
        .seccion-media
        {
            background-image:url("../imgs/Group3/Group3_background.png");
            background-size: cover;
            background-repeat: no-repeat;
            height: 1000px;
            padding-top: 10%;

        }
        .seccion-media h1, .seccion-delicious h1, footer h1{
            color: #e37e7e;
            font-weight: 700;
            text-transform: uppercase;
            font-size: 40px;
        }
        .seccion-media p, .seccion-delicious p, footer p{
            color: #e37e7e;
            font-weight: 400;
            font-size: 14px;
        }
        .seccion-media .boton2, .seccion-delicious .boton2{
            padding: 3% 13%;
            text-decoration: none;
            color: #fff;
            background-color: #e37e7e;
            font-size: 170%;
            transition: background-color .6s;
            text-transform: uppercase;
            font-weight: 700;
            border-radius: 30px;
        }
        .seccion-baja
        {
            padding: 5%;
        }

        .seccion-baja h1{
            font-size: 350%;
            font-weight: 700;
            color: #fff;
            text-transform: uppercase;
        }
        .seccion-baja p{
            font-weight: 400;
            color: #fff;
        }
        .seccion-baja .sushi2{
            padding-left:40%;
        }
        .seccion-baja .separacion{
            padding-top: 10%;
        }
        .sushi3{
            padding-top: 30%;
            padding-bottom: 10%;
            padding-left: 20%;
        }
        .seccion-delicious
        {
            background-image:url("../imgs/Group5/Group5_background.png");
            background-size: cover;
            background-repeat: no-repeat;
            height: 900px;
            padding-top: 10%;

        }
        .seccion-dueño{
            background-image:url("../imgs/Group6/Group6_background.png");
            background-size: cover;
            background-repeat: no-repeat;
            height: 500px;
            
        }
        .seccion-dueño img{
            padding-top: 10%;
        }
        .seccion-dueño h1{
            font-size: 200%;
            font-weight: 700;
            color: #fff;
            padding-top: 5%;
        }
        .seccion-dueño p{
            font-weight: 400;
            color: #fff;
            font-size: 14px;
            padding-top: 5%;
        }
        .sushi4{
            padding-top: 10%;
        }
        .informacion{
            padding-top: 160%;
        }
        .informacion h3,.informacion p,.informacion ul li{
            
            color:#fff;
            font-weight: normal;
        }
        .informacion p{
            padding-top: 5%;
            width: 85%;
        }
        .informacion a{
            color: #e37e7e;
        }
        .redes a{
            color: #000;
            background-color: #fff;
            border-radius: 50%;
            width: 11%;
            padding: 1% 1%;
            text-align: center;
            margin: 5% 2% 10% 0;
            font-size: 140%;
            transition: background-color .6s;
        }
        .redes a:hover{
            color: #fff;
            background-color:#e37e7e;
        }
        .informacion ul{
            list-style: none;
            padding-left: 0;
            
        }
        .informacion ul li{
            padding-top: 5%;
            align-content: center;
        
        }
        
        }