.fuente1{
    font-family: 'Cinzel', serif;
    font-size: 20px;
}

.fuente2{
    font-family: 'Assistant', sans-serif;
    font-size: 15px;
}

.fuente3{
    font-family: 'IBM Plex Serif', serif;
    font-size: 10px;
}